@import "./fonts.css";

:root {
  --color-dark: #161616;
  --color-dark-gray: #595959;
  --color-light-gray: #9C9C9C;
  --color-lighter-gray: #DADADA;
  --color-light-white: #F4F4F4;
  --color-white: #FDFDFD;
  --color-accent: #22A0BC;

  --font-base: "Manrope", sans-serif;
  --padding-x: 20px;
  --container-width: 1160px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--color-light-white);
}

a {
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 16px;
  padding-block: 8px;
  display: inline-flex;
  transition: all .3s;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  transition: all .3s;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  width: 100%;
  font-family: var(--font-base);
}

input {
  border: 0;
}

.container {
  max-width: calc(var(--container-width) + (var(--padding-x) * 2));
  margin-inline: auto;
  padding-inline: var(--padding-x);
}

section {
  padding-block: 40px;
}

@media (width < 800px) {
  .container {
    padding-inline: 16px;
  }
}