.dropdown {
  position: absolute;
  max-width: 200px;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all .3s;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 57px;
  right: -34px;
  background-color: var(--color-white);
  z-index: -1;
}

.isActive {
  height: 146px;
  opacity: 1;
  z-index: 1;
}

.close {
  height: 0;
}

@media (width < 455px) {
  .dropdown {
    top: 20px;
    right: 0px;
  }
}