.item {
  position: relative;
  display: flex;
  align-items: start;
  gap: 20px;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 24px;
  font-family: var(--font-base);
}

.archive {
  filter: grayscale(100%) brightness(70%) opacity(80%);
}

.img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.img img {
  width: 112px;
  object-fit: cover;
}

@media (width < 800px) {
  .item {
    padding: 16px;
    flex-direction: column;
  }

  .img img {
    width: 130px;
  }
}

@media (width < 455px) {
  .item {
    gap: 16px;
  }
}